# Web-scrapping project

### We would like to extract gas price from a website. We initially attempted to run the "request" command, but it did not work. Then, we used "header" to make the host website understand, it's not requested by a robot...it is now able to extract the data

### Import necessary libraries

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### Request the content for the gas price

In [2]:
url = 'https://finance.yahoo.com/quote/NG%3DF/futures?p=NG%3DF'
hh = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36'}
r = requests.get(url, headers=hh)
print(r.status_code)

200

When the code is 200, it means it works well and data can be extracted

### Get the table from the website

In [4]:
soup = BeautifulSoup(r.content, 'lxml')
total = soup.find('table', class_='W(100%) M(0) BdB Bdc($seperatorColor)')

### Get the columns for date and price

In [8]:
result = pd.DataFrame(columns=['A', 'B'])
trs = total.find_all('tr')[1:]
row = 1
for tr in trs:
    tds = tr.find_all('td')
    result.loc[row] = [tds[1].text, tds[2].text]
    row = row + 1
    
result.tail(20)

                                  A                 B
80  Henry Hub Natural Gas Futures,M  2.949 8:00PM EDT
81  Henry Hub Natural Gas Futures,J  2.979 8:00PM EDT
82  Henry Hub Natural Gas Futures,J  3.019 8:00PM EDT
83  Henry Hub Natural Gas Futures,A  3.059 8:00PM EDT
84  Henry Hub Natural Gas Futures,N  3.198 8:00PM EDT
85  Henry Hub Natural Gas Futures,S  3.074 8:00PM EDT
86               Natural Gas Oct 29   4.26 9:06AM EDT
87  Henry Hub Natural Gas Futures,D   3.35 8:00PM EDT
88  Henry Hub Natural Gas Futures,J   3.48 8:00PM EDT
89  Henry Hub Natural Gas Futures,F   3.45 8:00PM EDT
90  Henry Hub Natural Gas Futures,M  3.385 8:00PM EDT
91  Henry Hub Natural Gas Futures,A  3.035 8:00PM EDT
92  Henry Hub Natural Gas Futures,M  3.013 8:00PM EDT
93  Henry Hub Natural Gas Futures,J  3.048 8:00PM EDT
94  Henry Hub Natural Gas Futures,J  3.093 8:00PM EDT
95  Henry Hub Natural Gas Futures,A  3.133 8:00PM EDT
96  Henry Hub Natural Gas Futures,N  3.281 8:00PM EDT
97  Henry Hub Natural Gas Futures,S  3.148 8:00PM EDT
98               Natural Gas Oct 30   4.45 9:07AM EDT
99  Henry Hub Natural Gas Futures,D  3.441 8:00PM EDT

### Data cleaning: show the rows that we do NOT want

In [10]:
result2 = result.loc[result['A'].str.contains('Henry Hub')]
result2[:]

                                  A                 B
72  Henry Hub Natural Gas Futures,N  3.128 8:00PM EDT
75  Henry Hub Natural Gas Futures,D  3.278 8:00PM EDT
76  Henry Hub Natural Gas Futures,J  3.403 8:00PM EDT
77  Henry Hub Natural Gas Futures,F  3.376 8:00PM EDT
78  Henry Hub Natural Gas Futures,M  3.311 8:00PM EDT
79  Henry Hub Natural Gas Futures,A  2.971 8:00PM EDT
80  Henry Hub Natural Gas Futures,M  2.949 8:00PM EDT
81  Henry Hub Natural Gas Futures,J  2.979 8:00PM EDT
82  Henry Hub Natural Gas Futures,J  3.019 8:00PM EDT
83  Henry Hub Natural Gas Futures,A  3.059 8:00PM EDT
84  Henry Hub Natural Gas Futures,N  3.198 8:00PM EDT
85  Henry Hub Natural Gas Futures,S  3.074 8:00PM EDT
87  Henry Hub Natural Gas Futures,D   3.35 8:00PM EDT
88  Henry Hub Natural Gas Futures,J   3.48 8:00PM EDT
89  Henry Hub Natural Gas Futures,F   3.45 8:00PM EDT
90  Henry Hub Natural Gas Futures,M  3.385 8:00PM EDT
91  Henry Hub Natural Gas Futures,A  3.035 8:00PM EDT
92  Henry Hub Natural Gas Futures,M  3.013 8:00PM EDT
93  Henry Hub Natural Gas Futures,J  3.048 8:00PM EDT
94  Henry Hub Natural Gas Futures,J  3.093 8:00PM EDT
95  Henry Hub Natural Gas Futures,A  3.133 8:00PM EDT
96  Henry Hub Natural Gas Futures,N  3.281 8:00PM EDT
97  Henry Hub Natural Gas Futures,S  3.148 8:00PM EDT
99  Henry Hub Natural Gas Futures,D  3.441 8:00PM EDT

### Data cleaning: show the rows that we want to keep

In [14]:
result3 = result.loc[~ result['A'].str.contains('Henry Hub')].reset_index()
result3.drop('index', axis=1, inplace=True)

# To help python to understand the date, we put 01 at the beginning of each date entry:
result3['A'] = [w.strip().replace('Natural Gas', '01') for w in result3['A']]

# Conver the date entry to pandas datetime:
result3['A'] = pd.to_datetime(result3['A'])
result3['B'] = [w.split()[0] for w in result3['B']]
result3

            A      B
0  2022-11-01  7.785
1  2022-10-01  7.727
2  2022-12-01  7.939
3  2023-01-01  8.069
4  2023-02-01  7.753
5  2023-03-01  6.714
6  2023-04-01  5.327
7  2023-05-01  5.201
8  2023-06-01   5.25
9  2023-07-01  5.307
10 2023-08-01  5.322
11 2023-11-01  5.565
12 2023-09-01  5.295
13 2023-10-01  5.363
14 2023-12-01  5.833
15 2024-01-01  5.992
16 2024-02-01  5.772
17 2024-03-01  5.311
18 2024-04-01    4.6
19 2024-05-01   4.51
20 2024-06-01  4.653
21 2024-07-01    4.7
22 2024-08-01  4.755
23 2024-11-01  5.038
24 2024-09-01  4.749
25 2024-10-01  4.835
26 2024-12-01  5.425
27 2025-01-01   5.55
28 2025-02-01   5.45
29 2025-03-01   5.19
..        ...    ...
45 2026-07-01   4.62
46 2026-08-01   4.13
47 2026-11-01  2.912
48 2026-09-01   4.32
49 2026-10-01   4.67
50 2026-12-01    5.3
51 2027-01-01  5.525
52 2027-02-01   4.81
53 2027-03-01   4.75
54 2027-04-01   3.99
55 2027-05-01   4.45
56 2027-06-01  2.856
57 2027-07-01   4.12
58 2027-08-01  2.982
59 2027-11-01  3.169
60 2027-09-01      3
61 2027-10-01      4
62 2027-12-01   5.34
63 2028-01-01   5.58
64 2028-02-01  2.649
65 2028-03-01   2.78
66 2028-04-01      4
67 2028-05-01   3.39
68 2028-06-01   2.52
69 2028-07-01  2.562
70 2028-08-01  2.568
71 2028-09-01  2.568
72 2028-10-01   4.12
73 2029-10-01   4.26
74 2030-10-01   4.45

[75 rows x 2 columns]